<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ClassicServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>org.qrtt1.servlet.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	
	   <servlet>
        <servlet-name>m2</servlet-name>
        <servlet-class>org.qrtt1.servlet.Model2Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>m2</servlet-name>
        <url-pattern>/m2.do</url-pattern>
    </servlet-mapping>



	<servlet>
		<servlet-name>Pages</servlet-name>
		<servlet-class>org.qrtt1.servlet.StringTemplateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Pages</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>
</web-app>